---
layout: default
title: IFOREST | Proyectos
description: Industrias Forestales
image: assets/img/logo-iforest.png
social:
    name: IFOREST
    Links: https://www.instagram.com/iforestgt/
---
{% include hero.html %}
<div class="container mb-3">
	<div class="row my-2">		
		<div class="col-lg-6 order-lg-2 mt-lg-5 texto d-flex align-items-center">
			<h2 class="text-uppercase">reforestaciones</h2>	
		</div>
		<div class="col-lg-6 order-lg-1 mt-lg-5 mb-4">
                <div id="carousel-1" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        {% assign count = 0 %}
                        {% for item in site.data.fotos_proyectos %}
                        {% if item.type == 'plantaciones' %}
                        {% assign count = count | plus: 1 %}
                        <div class="carousel-item {% if count == 1 %} active{% endif %}">
                            <img class="d-block mx-auto" src="{{ item.address }}">
                        </div> 
                        {% endif %}                           
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev">
                        <span class="icon-arrow-left h1" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel-1" role="button" data-slide="next">
                        <span class="icon-arrow-right h1" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>			
		</div>

		<div class="col-lg-6 order-lg-4 mt-lg-5 texto d-flex align-items-center justify-content-lg-end">
			<h2 class="text-uppercase">Comercialización</h2>	
		</div>
		<div class="col-lg-6 order-lg-5 mt-lg-5 mb-4 imagen">
                <div id="carousel-2" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        {% assign count = 0 %}
                        {% for item in site.data.fotos_proyectos %}
                        {% if item.type == 'comercializacion' %}
                        {% assign count = count | plus: 1 %}
                        <div class="carousel-item {% if count == 1 %} active{% endif %}">
                            <img class="d-block mx-auto" src="{{ item.address }}" alt="Slide {{ forloop.index }}">
                        </div> 
                        {% endif %}                           
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carousel-2" role="button" data-slide="prev">
                        <span class="icon-arrow-left h1" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel-2" role="button" data-slide="next">
                        <span class="icon-arrow-right h1" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>			
		</div>		

		<div class="col-lg-6 order-lg-7 mt-lg-5 texto d-flex align-items-center">
			<h2 class="text-uppercase">Equipo</h2>
		</div>
		<div class="col-lg-6 order-lg-6 mt-lg-5 mb-4 imagen">
                <div id="carousel-3" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        {% assign count = 0 %}
                        {% for item in site.data.fotos_proyectos %}
                        {% if item.type == 'equipo' %}
                        {% assign count = count | plus: 1 %}
                        <div class="carousel-item {% if count == 1 %} active{% endif %}">
                            <img class="d-block mx-auto" src="{{ item.address }}" alt="Slide {{ forloop.index }}">
                        </div> 
                        {% endif %}                           
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carousel-3" role="button" data-slide="prev">
                        <span class="icon-arrow-left h1" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel-3" role="button" data-slide="next">
                        <span class="icon-arrow-right h1" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>			
		</div>

	</div>	
</div>
