    <footer id="panel-4" class="panel">
        <div class="container">
            <div class="row">

                

                <div class="col-sm-6 col-md-6 item text-light">
                    <h3 class="text-light mb-0">Contáctenos</h3>
                    <ul class="list-unstyled list-inline mb-0">
                        <li class="list-inline-item">
                            <a href="https://www.instagram.com/iforestgt/" class="d-flex align-items-center">
                                <i class="icon ion-social-instagram social ml-0 mr-2 my-0"></i>
                                <span class="text-light mr-1">@iforestgt</span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="http://wa.link/xco3jb" class="d-flex align-items-center">
                                <i class=" icon ion-social-whatsapp social mr-2 my-0"></i>
                                <span class="text-light mr-1">(502) 5929-9393</span>
                            </a>
                        </li>
                    </ul>
                    <p >
                        <a href="tel:2203-6757"class="text-light">Tel.: (502) 2203-6757</a> 
                        /
                        <a class="text-light" href="mailto:proyectos@iforest.com">proyectos@iforest.com</a>
                        <br>
                        17 ave. 19-70 Z.10 Edificio&nbsp;Torino,&nbsp;Oficina&nbsp;1011 <br>
                        Ciudad&nbsp;de&nbsp;Guatemala, 01010, Guatemala</p>
                    </p>
                    <p class=" mb-0">

                </div>
                <div class="col-md-6 mb-3">
                    <a class="d-flex justify-content-end" href="index.html">
                        <img src="{{site.data.images.logo-over-black}}" width="30%">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-4 offset-4 mt-5">
                    <p class="text-center text-white-50 text-white mt-2">iForest © 2022</p>
                </div>
            </div>
        </div>
    </footer>