    <footer id="panel-4" class="panel">
        <div class="container">
            <div class="row">
                <div class="col-md-6 item text"><a href="index.html"><img src="assets/img/2logo%20vector%20IFOREST.svg" width="40%"></div></a>
                <div class="col-sm-6 col-md-3 item">
                    <h3 class="text-light">Contacto</h3>
                    <p class="text-white mb-0">17 ave. 19-70 Z.10 Edificio Torino, Oficina 1011, Ciudad de Guatemala, 01010, Guatemala&nbsp;</p><a class="text-white" href="mailto:proyectos@iforest.com">proyectos@iforest.com</a></div>
                <div class="col-sm-6 col-md-3 item">
                    <h3 class="text-light">Síganos</h3>
                    <ul class="list-unstyled"></ul><a href="https://www.instagram.com/iforestgt/"><i class="icon ion-social-instagram social"></i></a></div>
            </div>
            <div class="row">
                <div class="col-6 offset-3 d-flex justify-content-center"><a href="#"></a><a href="#"></a><a href="#"></a><a href="#"></a></div>
            </div>
            <div class="row">
                <div class="col-4 offset-4">
                    <p class="text-center text-white-50 text-white mt-2">iForest © 2021</p>
                </div>
            </div>
        </div>
    </footer>