    <footer id="panel-4" class="panel">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-3"><a href="index.html"><img src="{{site.data.images.logo-over-black}}" width="30%"></div></a>
                <div class="col-sm-6 col-md-3 item text-light">
                    <h3 class="text-light">
                        Contacto
                    </h3>
                    <p class=" mb-0">
                        17 ave. 19-70 Z.10 Edificio&nbsp;Torino,&nbsp;Oficina&nbsp;1011, Ciudad&nbsp;de&nbsp;Guatemala, 01010, Guatemala</p>
                    <a class="text-light" href="mailto:proyectos@iforest.com">proyectos@iforest.com</a>
                    <p ><a href="tel:2203-6757"class="text-light">tel.: (+502) 2203-6757</a></p>
                </div>

                <div class="col-sm-6 col-md-3">
                    <h3 class="text-light">Síganos</h3>
                    <ul class="list-unstyled"></ul><a href="https://www.instagram.com/iforestgt/"><i class="icon ion-social-instagram social"></i></a></div>
            </div>
            <div class="row">
                <div class="col-6 offset-3 d-flex justify-content-center"><a href="#"></a><a href="#"></a><a href="#"></a><a href="#"></a></div>
            </div>
            <div class="row">
                <div class="col-4 offset-4 mt-5">
                    <p class="text-center text-white-50 text-white mt-2">iForest © 2021</p>
                </div>
            </div>
        </div>
    </footer>