    <div class="container-fluid position-absolute" id="navbar_top">
        <nav class="navbar navbar-light navbar-expand-xl px-0">
            <div class="container-fluid px-0"><a class="navbar-brand" href="index.html"></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse"
                    id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">

                          {% for item in site.data.navbar %}
                            <li class="nav-item" role="presentation">
                                <a  href="{{ item.link }}" class="nav-link {% if page.url == item.link %} active {% endif %}">
                                  {{ item.name }}
                                </a>
                            </li>
                          {% endfor %}


                    </ul>
                </div>
            </div>
        </nav>
    </div>